extends layout

block content
  h1= title
  p Welcome to #{title}
  button#js_up.btn up
  button#js_down.btn down
  button#js_left.btn left
  button#js_right.btn right
  button#js_stop.btn stop
  button#js_fire.btn fire
